## .NET / C#
bin/
obj/
*.user
*.suo
.vs/
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Publish / Deploy output
publish/
PublishProfiles/
dist/

## NuGet
*.nupkg
*.snupkg
packages/
.nuget/

## OS
.DS_Store
Thumbs.db

## IDE
.idea/
*.swp
*.swo
